/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-may-2016, 11:46:46
    Author     : Akyru
*/
#carrito{
    padding-top: 50px;
}
.top-bar,.top-bar ul{background-color:white;}
.button.expanded{ 
background-color: black;

}
#precioTitulo{
    text-align: center;
}
#compart{
    background-color: black;
    border-radius: 10px;
    color:white;
    padding-left:  50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#compart2{
    padding-left:  50px;
    padding-right: 50px;
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: center;
}

#comprarColeccion{
     background-color: white;
    border-radius: 10px;
    color:black;
    padding-left:  50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.button.expanded2{ 
    background-color: white !important;
    display:block;
    width:100%;
    margin-left:0;
    margin-right:0;
    border-radius: 10px;
    border-style: solid; 
    border-width: 1px;
}
.callout.large{
    background-color: black !important;
    padding-top: 20px;
    padding-bottom: 10px;
   
    
}
#colorTexto{
    color:white !important;
}

/*.menu>li>a{
    color:white;
}*/

